<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.admin.qa.testcases.AddUserPageTest"/>
      <class name="com.admin.qa.testcases.LoginTest"/>
      <class name="com.admin.qa.testcases.DashboardTest"/>
      <class name="com.admin.qa.testcases.UserPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
